@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.date-form { margin: 10px; }
label.control-label span { cursor: pointer;
}

textarea {
    resize: both;
}

body {
    background: #76b852;
    font-family: "Roboto", sans-serif;

}