<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ergo.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>ergo.servlet.MainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>ergo.servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPageServlet</servlet-name>
        <servlet-class>ergo.servlet.AdminPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentsPageServlet</servlet-name>
        <servlet-class>ergo.servlet.AssessmentsPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscomfortServlet</servlet-name>
        <servlet-class>ergo.servlet.DiscomfortServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowUpServlet</servlet-name>
        <servlet-class>ergo.servlet.FollowUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkAreaServlet</servlet-name>
        <servlet-class>ergo.servlet.WorkAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainServlet</servlet-name>
        <servlet-class>ergo.servlet.MaintainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosturesAndMovementsServlet</servlet-name>
        <servlet-class>ergo.servlet.PosturesAndMovementsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPageServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentsPageServlet</servlet-name>
        <url-pattern>/assessments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscomfortServlet</servlet-name>
        <url-pattern>/discomfort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowUpServlet</servlet-name>
        <url-pattern>/followup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkAreaServlet</servlet-name>
        <url-pattern>/workarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainServlet</servlet-name>
        <url-pattern>/maintain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosturesAndMovementsServlet</servlet-name>
        <url-pattern>/posandmove</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>notes/report/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
