@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');


.date-form { margin: 10px; }
label.control-label span { cursor: pointer;
}

textarea {
    resize: both;
}

h1 {
    background-color: #00ff00;
}
